/*Make body a column flex - the page is made of 4 sections - hero, personal info, quote, fourth. Plus footer*/
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Hero contains the title plus additional list for future info*/
.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;    
}

.personal-header {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.big-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px; 
    margin-top: -50px;
}

.button {
    background-color: #3882f6;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
}

.button.second-button {
    border: 2px solid white;   
    height: 30px; 
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

.main-image {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: #7d838f;
}

.img-placeholder {
    color: white;
}

.main-title {
    max-width: 600px;
}

/*Personal information will be alligned in the middle with 4 containers*/
.personal-information {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
}

.personal-information-container {
    display:flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.side-image {
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

/*This section will contain a motivational quote*/
.quote {
    text-align: center;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column; 
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote-text {
    max-width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    color: black;
    font-weight: 600;
    margin-left: 500px;
    margin-top: 30px;
}

/*This code contains the 4th section, which is for some random things*/
.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.backround-fourth {
    display: flex;
    background-color: #3882f6;
    align-content: center;
    padding: 30px 100px;
    border-radius: 20px;
    justify-content: center;
    width: 800px;
    gap: 150px;
}

.fourth-text {
    color: white;
}

.random {
    font-weight: 600;
}

/*This section contains footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-text {
    color: white;
}